/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common */
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: 80vw;
}

.section-margin {
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Animation */
@keyframes fromleft {
    0% {
        transform: translateX(-700px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fromright {
    0% {
        transform: translateX(700px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Buttons */
.live-btn,
.view-all-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #DD0000;
    padding: 12px 30px;
    font-weight: 400;
    border-radius: 5px;
}

.live-btn .fa-angle-right {
    margin-left: 10px;
}

.view-all-btn {
    margin-top: 20px;
    visibility: hidden;

}

/* Header Part Start */

header {
    background-color: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.header-text {
    padding: 50px;
    padding-bottom: 0;
    opacity: 0;
    transition: 0.5s;
    animation: fromleft 0.8s ease-in 0.3s 1 forwards;
}

.header-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #fff;
}

.header-para {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-image {
    padding-right: 20px;
    opacity: 0;
    transition: 0.5s;
    animation: fromright 0.8s ease-in 0.3s 1 forwards;
}

.header-image img {
    width: 100%;
}

header .live-btn {
    margin-bottom: 50px;
}

/* Schedule Part Start */
/* Schdeule Menu Part Start */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 312px;
    width: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.menu-btn {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #161616;
    background-color: #fff;
    padding: 15px 35px;
    margin: 0 30px;
    border-radius: 5px;
}
.menu-btn.active{
    background-color: #DD0000;
    color: #fff;
}
/* Schedule Section Part Start */
.schedule-section {
    text-align: center;
}

.schedule-content {
    display: grid;
    grid-template-columns: 1fr auto;
}

.schedule-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.schedule-item {
    border: 1px solid #E8E8E8;
    height: 242px;
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.flags {
    display: flex;
    align-items: center;
}

.flags img {
    width: 100%;
}

.flags strong {
    font-weight: 700;
    color: #161616;
    font-size: 16px;
    margin: 0 10px;
}
h3.countries{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    margin-top: 50px;
}

/* -----------------------------------------------------Responsive CSS----------------------------------------------------- 
For mobile view max width is 767px
For tab view max width is 991px
*/
@media screen and (max-width: 991px) {
    .header-title{
        font-size: 40px;
        line-height: 50px;
    }
    .header-para{
        font-size: 14px;
        white-space: nowrap; 
        width: 250px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .schedule-content {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .schedule-item{
        margin: 0 auto;
    }
    .menu {
        flex-direction: row;
        background-color: transparent;
        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .menu-btn {
        border: 1px solid #161616;
        margin: 0;
    }

    .schedule-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all-btn {
        visibility: visible;
    }
}

@media screen and (max-width: 767px) {
    header {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        text-align: center;
    }
    .header-text{
        padding: 20px;
    }
    .header-title{
        font-size: 22px;
        line-height: 33px;
    }
    header .live-btn {
        margin-bottom: 0;
    }
    .header-image img {
        width: 75%;
    }
    .schedule-items {
        grid-template-columns: 1fr;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-btn {
        margin-bottom: 10px;
    }

    .view-all-btn {
        visibility: hidden;

    }
}